@font-face {
    font-family: travel;
    src: url(../fonts/travel.ttf);
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
section {
	background-color: #f0f0f0;
  float: left;
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  color: black;
}
/*hide an elemnt - used for #time-spent h4 & h3*/
.hidden {
	visibility: hidden;
}

/*places traveling to section selectors*/
.horizon-prev,.horizon-next {
  position: fixed;
  top: 50%;
  margin-top: -24px;
  z-index: 9999;
  font-size: 36px;
  cursor: pointer;
  color:white;
}
.horizon-prev { left: 20px; }
.horizon-next { right: 20px; }
.horizon-prev:hover,.horizon-next:hover {
	color:tomato;
	transition: color 0.5s ease-in-out;
}

/*set element to 100% for side scrolling*/
.h-100 {
	height: 100%;
	position: relative;
}

/*text shadow for captions*/
.carousel-caption {
  text-shadow: 3px 2px 2px rgba(0,0,0,.9);
}
.rotate90 {
	-webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*=================================================

									NYC B4 DEPARTURE

=================================================*/
	/*Brody's Great European Adventure intro text and bg*/
	#section-section1 {
		background-image: url(../img/nyc1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#intro-text {
		position: absolute;
		top: 15%;
		width: 100%;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#intro-text h1 {
		font-size: 56px;
		font-family: travel;
		text-align: center;
	}
	/*text for days in america*/
	#time-spent {
		position: absolute;
		bottom: 5%;
		width: 100%;
		font-size: 24px;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	/*number for days in america*/
	#time-spent span {
		margin: 5px 0;
		font-family: travel;
		text-align: center;
	}


/*=================================================

									LONDON ENGLAND

=================================================*/
	#section-section2 {
		background-image: url(../img/london.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#london {
		position: absolute;
		top: 5%;
		width: 100%;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#london h1 {
		text-align: center;
		font-size: 56px;
		font-family: travel;
		text-align: center;
	}
	/*london content*/
	#london-content {
		position: absolute;
		top: 20%;
		width: 100%;
		height: 65%;
		overflow: hidden;
	}
	#london-content img {
		width: 100%;
	}
	/*days in london*/
	#london-time {
		position: absolute;
		bottom: 5%;
		width: 100%;
		font-size: 24px;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#london-time span {
		margin: 5px 0;
		font-family: travel;
		text-align: center;
	}


/*=================================================

									ATHENS GREECE

=================================================*/
	#section-section3 {
		background-image: url(../img/athens.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#athens {
		position: absolute;
		top: 5%;
		width: 100%;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#athens h1 {
		text-align: center;
		font-size: 56px;
		font-family: travel;
		text-align: center;
	}
	/*athens content*/
	#athens-content {
		position: absolute;
		top: 20%;
		width: 100%;
		height: 65%;
		overflow: hidden;
	}
	#athens-content img {
		width: 100%;
	}
	#athens-content img#athens-digs {
		top: -70px;
    position: relative;
	}
	/*days in athens*/
	#athens-time {
		position: absolute;
		bottom: 5%;
		width: 100%;
		font-size: 24px;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#athens-time span {
		margin: 5px 0;
		font-family: travel;
		text-align: center;
	}


/*=================================================

										ROME ITALY

=================================================*/
	#section-section4 {
		background-image: url(../img/rome2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#rome {
		position: absolute;
		top: 5%;
		width: 100%;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#rome h1 {
		text-align: center;
		font-size: 56px;
		font-family: travel;
		text-align: center;
	}
	/*rome content*/
	#rome-content {
		position: absolute;
		top: 20%;
		width: 100%;
		height: 65%;
		overflow: hidden;
	}
	#rome-content img {
		width: 100%;
	}
	/*days in rome*/
	#rome-time {
		position: absolute;
		bottom: 5%;
		width: 100%;
		font-size: 24px;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#rome-time span {
		margin: 5px 0;
		font-family: travel;
		text-align: center;
	}


/*=================================================

										PARIS FRANCE

=================================================*/
	#section-section5 {
		background-image: url(../img/paris2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#paris {
		position: absolute;
		top: 5%;
		width: 100%;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#paris h1 {
		text-align: center;
		font-size: 56px;
		font-family: travel;
		text-align: center;
	}
	/*paris content*/
	#paris-content {
		position: absolute;
		top: 20%;
		width: 100%;
		height: 65%;
		overflow: hidden;
	}
	#paris-content img {
		width: 100%;
	}
	/*days in paris*/
	#paris-time {
		position: absolute;
		bottom: 5%;
		width: 100%;
		font-size: 24px;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#paris-time span {
		margin: 5px 0;
		font-family: travel;
		text-align: center;
	}


/*=================================================

								AMSTERDAM NETHERLANDS

=================================================*/
	#section-section6 {
		background-image: url(../img/amsterdam2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#amsterdam {
		position: absolute;
		top: 5%;
		width: 100%;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#amsterdam h1 {
		text-align: center;
		font-size: 56px;
		font-family: travel;
		text-align: center;
	}
	/*amsterdam content*/
	#amsterdam-content {
		position: absolute;
		top: 20%;
		width: 100%;
		height: 65%;
		overflow: hidden;
	}
	#amsterdam-content img {
		width: 100%;
	}
	/*days in amsterdam*/
	#amsterdam-time {
		position: absolute;
		bottom: 5%;
		width: 100%;
		font-size: 24px;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#amsterdam-time span {
		margin: 5px 0;
		font-family: travel;
		text-align: center;
	}


/*=================================================

						RETURN FLIGHT - LONDON ENGLAND

=================================================*/


/*=================================================

											HOME

=================================================*/
	#section-section7 {
		background-image: url(../img/nyc1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	#nyc-return {
		position: absolute;
		top: 5%;
		width: 100%;
		color: rgba(255, 255, 255, 1);
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
	}
	#nyc-return h1 {
		text-align: center;
		font-size: 56px;
		font-family: travel;
		text-align: center;
	}
	

/*=================================================

									HOVER EFFECT
		 								
=================================================*/
	.view {
    width: 100%;
    height: 175px;
    margin: 10px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 5px 25px 2px #fff;
    cursor: pointer;
    background: #fff url(../img/bg2.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
	}
	.view .mask, .view .content {
    width: 100%;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
	}
	.view img {
    display: block;
    position: relative
	}
	.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
	}
	.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
	}
	.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    z-index: 2000
	}
	.view a.info:hover {
	  box-shadow: 0 0 5px #000
	}
	.view-tenth img { 
		transform: scaleY(1);
		transition: all 0.7s ease-in-out;
	}
	.view-tenth .mask { 
    background-color: rgba(255, 231, 179, 0.3); 
    transition: all 0.5s linear;
    opacity: 0;
	}	
	.view-tenth h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
	}
	.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
	}
	.view-tenth a.info { 
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
	}
	.view-tenth:hover img { 
		transform: scale(10);
	  opacity: 0;
	}
	.view-tenth:hover .mask { 
		opacity: 1;
	}																			 
	.view-tenth:hover h2,
	.view-tenth:hover p,
	.view-tenth:hover a.info{ 
    transform: scale(1);
    opacity: 1;
	}


/*=================================================

									MEDIA QUERIES

=================================================*/
@media screen and (max-width: 600px) {
	#intro-text h1, #london h1 {
		font-size: 48px;
	}
	#time-spent span {
		font-size: 24px;
	}
}



